.main-section {
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    padding: 20px;
}

.switch-section {
    display: flex;
    justify-content: end;
}

.rules-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.rule-section {
    width: 45%;
    border: 2px solid;
    margin: 2px;
    padding: 3px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.rule-section:hover {
    background-color: #f4f4f4;
    border-radius: 13px;
    border: 3px solid #eb4321;
}

.rule-label {
    font-size: 20px;
}

.edit-icon {
    margin: 5px;
    cursor: pointer;
}


.popup {
    z-index: 1;
    position: absolute;
    width: 100%;
    background-color: black;
    height: 100%;
    top: 0;
    opacity: 0.2;
}